<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>本部講演｜京都大学11月祭</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="../../css/common.css">
        <!--<link rel="stylesheet" type="text/css" href="./slick/slick.css">
  <link rel="stylesheet" type="text/css" href="./slick/slick-theme.css">-->
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/21edc3223b.js" crossorigin="anonymous"></script><!--FontAwesome-->
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  <link rel="icon" href="/icon/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="https://nf.la/icon/apple-touch-icon.png" sizes="180x180"> <!-- iPhoneのホーム画面に追加アイコン -->
<meta name="msapplication-TileImage" content="https://nf.la/img/twitter-card.png" />
<meta name="msapplication-TileColor" content="#ffffff"/>
  <meta property="og:url" content="https://nf.la/">
  <meta property="og:title" content="第62回京都大学11月祭" />
  <meta property="og:description" content="第62回京都大学11月祭の情報を掲載。" />
  <meta property="og:image" content="https://nf.la/img/twitter-card.png" />
  <meta name="twitter:site" content="@nfoffice" />
  <meta property="og:site_name" content="第62回京都大学11月祭" />
  <meta property="og:locale" content="ja_JP" />
  <!-- 以下Twitterカード関連 -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="第62回京都大学11月祭" />
  <meta name="twitter:description" content="第62回京都大学11月祭の情報を掲載。" />
  <meta name="twitter:image" content="https://nf.la/img/twitter-card.png" />
        <!--#include virtual="/ssi/gtag.html"--><!--Google analytics tagの読み込み（本番環境のみ）-->
    </head>
    <body>
      <div id="all">
        <header>
          <div id=header-head>
            <a href="/index.html"><h1 id=logo>第62回京都大学11月祭</h1></a>
            <button class="closed groval"><i class="fas fa-bars hnav-icon"></i></button>
            <button class="opened groval"><i class="fas fa-times hnav-icon"></i></button>
          </div>  
        </header>
        <div id="wrap">
          <div id="mainVisual" class="eventVisual"><!--ここあとで変更する。class="eventVisual"-->
            <div class="eventmain">
              <img src="https://nf.la/image/plans/koen.jpg">
            </div> 
            <fab-entry></fab-entry> 
          </div>
          <div id="pnkz">
            <ul>
              <li class=pnkz_top><a href="/index.html"><i class="fas fa-home"></i>トップ</a></li>
              <li><a href="/events/honbu/lecture.html">本部講演</a></li>
            </ul>
          </div>
           <h1 class="pagetitle">本部講演</h1>
           <p class="narrative">本部講演では、例年学内外からお呼びした講師の方に貴重な講演をいただいています。本年度は新型コロナウイルスの影響に鑑みて事前収録した講演を本ページ上で配信します。例年とは違った本部講演企画をぜひともよろしくお願いします。</p>           
           <div class="card-large">
            <h2 class="cardTitle">「究極の省エネ半導体」</h2>
            <h5 class="right">木本　恒暢　先生（京都大学教授）</h5>
            <div class="flex-container">
              <div class="e-imgarea" v-if="today>nfstart"><div class="e-img"><div class="e-video"><iframe width="560" height="315" src="https://www.youtube.com/embed/LkhJUYQKcwo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div></div></div>
              <div class="e-textarea"><p>講師略歴</p><p>1982年 和歌山県立桐蔭高校卒業。京都大学工学部電気系学科を経て1988年 同大学院工学研究科修士課程修了。同年 住友電気工業に入社（伊丹研究所勤務）。1990年 京都大学工学部助手。1996-1997年 スウェーデン国リンシェピン大学研究員。帰国後、京都大学助教授を経て2006年より京都大学教授（工学研究科電子工学専攻）。
                一貫して半導体材料、半導体デバイスの研究に従事。特に、炭化ケイ素（シリコンカーバイド）半導体の研究をライフワークとしている。2009-2014年には内閣府が主導した最先端研究開発支援(FIRST)プログラムの中心研究者（国内で30名、京都大ではiPS細胞の山中教授と木本の2名）に選ばれ、炭化ケイ素半導体の学術および実用化研究を牽引。趣味は美術、野球、海外出張。</p></div>
           </div>
          </div>
          <div class="card-large">
            <h2 class="cardTitle">「温暖化と氷河縮小がアフリカ熱帯高山の自然や社会に与える影響」＆「ナイロビ・スラム街の現況と学校教育（映像による現地報告／ケニアとのオンライン対談 [キベラスラム・マゴソスクール主宰早川千晶氏]）」</h2>
            <h5 class="right">水野　一晴　先生（京都大学教授）/早川　千晶　先生</h5>
            <div class="flex-container">
              <div class="e-imgarea" v-if="today>nfstart"><div class="e-img"><div class="e-video"><iframe width="560" height="315" src="https://www.youtube.com/embed/z-g74yYRlKs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div></div></div>
              <div class="e-textarea"><p>講師略歴（水野先生）</p><p>1958年名古屋生まれ。名古屋大学文学部卒業、北海道大学環境科学研究科修士課程修了、東京都立大学理学研究科博士課程修了。理学博士。専門は自然地理学、アフリカ地域研究。主な著書に『世界がわかる地理学入門－気候・地形・動植物と人間生活－』（2018年、ちくま新書）、『気候変動で読む地球史－限界地帯の自然と植生から－』（2016年、NHKブックス）、『自然のしくみがわかる地理学入門』（2015年、ベレ出版）、『神秘の大地、アルナチャル－アッサム・ヒマラヤの自然とチベット人の社会』（2012年、昭和堂）、共編著に『朽木谷の自然と社会の変容』（2019年、海青社）などがある。</p><hr><p>講師略歴（早川先生）</p><p>ケニア在住32年。ナイロビ最大の貧困地区キベラスラムで孤児や困窮児童のための学校「マゴソスクール」、モンバサ近郊のミリティーニ村で「ジュンバ・ラ・ワトト」（子どもの家）、高校生・大学生のための奨学金グループ「マゴソOBOGクラブ」、障がい児の特別学級、スラムの貧困者の裁縫作業所、貧困者の生活改善プロジェクトなどを運営。マサイ民族とドゥルマ民族の村でホームステイ＆伝統文化体験のエコツアー、キベラスラムのスタディツアー、TV番組の撮影コーディネーターを手掛けている。</p>
                <p>CD＆映像制作プロダクションJIWE:<a class="text_link" href="https://www.jiwe.site/" target="_blank">https://www.jiwe.site/</a></p>
                <p>オンラインショップはろの屋:<a href="https://haronoya.com/brand/magoso" class="text_link" target="_blank">https://haronoya.com/brand/magoso</a></p>
                <p>マゴソスクールを支える会:<a href="http://magoso.jp/" class="text_link" target="_blank">http://magoso.jp/</a></p>
                <p>Twitter:<a href="https://twitter.com/chiakihayakawa0" class="text_link" target="_blank">@chiakihayakawa0</a></p></div>
           </div>
          </div>
           <kkk-general></kkk-general>
          </div><!--wrap閉じ-->
          <fab-confirm></fab-confirm>
          <rally-join></rally-join>
        <gnav-side></gnav-side>
        <footer-menu></footer-menu>
       
          </div><!--all閉じ-->
          <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
          <script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>');</script><!--JqueryCDNのフォールバック-->
          <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
          <script>window.Vue || document.write('<script src="/js/vue.min.js"><\/script>')</script><!--VueCDNのフォールバック-->
          <script type="text/javascript" src="/script/jquery.inview.min.js"></script>
          <!--<script type="text/javascript" src="./slick/slick.min.js"></script>-->
          <script>
             var title="本部講演";
            var date="全日";
            var author1="11月祭本部";
            var type="exhibition";
            var main="科学";
            var sub="社会";
          </script>
        <script type="text/javascript" src="../../js/common.js"></script>
       
         <!--ここからはパン屑用の構造化-->
         <script type="application/ld+json">
          {
           "@context": "http://schema.org",
           "@type": "BreadcrumbList",
           "itemListElement":
           [
            {
             "@type": "ListItem",
             "position": 1,
             "item":
             {
              "@id": "/",
              "name": "TOP"
              }
            },
            {
              "@type": "ListItem",
             "position": 2,
             "item":
              {
                "@id": "/events/honbu/lecture.html",
                "name": "本部講演"
              }
             }
           ]
          }
          </script>
    </body>
</html>


