<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>メッセージ投稿（クイズラリー）｜京都大学11月祭</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="../../../css/common.css">
        <!--<link rel="stylesheet" type="text/css" href="./slick/slick.css">
  <link rel="stylesheet" type="text/css" href="./slick/slick-theme.css">-->
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/21edc3223b.js" crossorigin="anonymous"></script><!--FontAwesome-->
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  <link rel="icon" href="/icon/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="https://nf.la/icon/apple-touch-icon.png" sizes="180x180"> <!-- iPhoneのホーム画面に追加アイコン -->
<meta name="msapplication-TileImage" content="https://nf.la/img/twitter-card.png" />
<meta name="msapplication-TileColor" content="#ffffff"/>
  <meta property="og:url" content="https://nf.la/">
  <meta property="og:title" content="第62回京都大学11月祭" />
  <meta property="og:description" content="第62回京都大学11月祭の情報を掲載。" />
  <meta property="og:image" content="https://nf.la/img/twitter-card.png" />
  <meta name="twitter:site" content="@nfoffice" />
  <meta property="og:site_name" content="第62回京都大学11月祭" />
  <meta property="og:locale" content="ja_JP" />
  <!-- 以下Twitterカード関連 -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="第62回京都大学11月祭" />
  <meta name="twitter:description" content="第62回京都大学11月祭の情報を掲載。" />
  <meta name="twitter:image" content="https://nf.la/img/twitter-card.png" />
  <style>
    .r-form{
      background-color:#ffddee;
      border:1px solid #aaa;
      border-radius:20px 0px 20px 0px;
      box-shadow:1px 1px 5px #aaa;
    }
    .r-name-input{
      display:block;
      width:100%;
      padding:5px;
      box-sizing:border-box;
      border:1px solid #fff;
      border-radius:20px 0px 20px 0px;
    }
    .r-name-input textarea{
      width:90%;
    }
    .r-submit{
      display:block;
      border:2px solid #e6a;
      border-radius:10px;
      background-color:#ff5;
      margin:5px auto;
      text-align:center;
      font-size:20px;
      width:100px;
      height:40px;
    }
    .r-submit:disabled{
      background-color:#eee;
      border:1px solid #aaa;
    }
  </style>
        <!--#include virtual="/ssi/gtag.html"--><!--Google analytics tagの読み込み（本番環境のみ）-->
    </head>
    <body>
      <div id="all">
        <header>
          <div id=header-head>
            <a href="/index.html"><h1 id=logo>第62回京都大学11月祭</h1></a>
            <button class="closed groval"><i class="fas fa-bars hnav-icon"></i></button>
            <button class="opened groval"><i class="fas fa-times hnav-icon"></i></button>
          </div>  
        </header>
        <div id="wrap">
          <div id="mainVisual" class="eventVisual">
            <div class="eventmain">
              <img src="https://nf.la/image/plans/stamp.jpg">
            </div>         
          </div>
          <div id="pnkz">
            <ul>
              <li class=pnkz_top><a href="/index.html"><i class="fas fa-home"></i>トップ</a></li>
              <li><a href="/events/honbu/rally.php">NFクイズラリー</a></li>
              <li><a href="/events/honbu/rally/index.html">投稿</a></li>
            </ul>
          </div>
          <h1 class="pagetitle">メッセージ投稿フォーム</h1>
          <p class="narrative">「春から頑張ること」を募集します。</p>
          <message-insert></message-insert>
          <h2>景品について</h2>
          <div class="flex-container card-unshown">
            <div class="e-imgarea">
              <div class="e-img"><img class="fitimg" src="https://nf.la/image/plans/goods.jpg"></div>
            </div>
            <div class="e-textarea">
              <p class="narrative">【抽選5名様】QUOカードPay 1000円分をプレゼント</p>
              <p class="narrative">【抽選10名様】11月祭オリジナルグッズのクリアファイル・マスクケースをプレゼント</p>
              <p class="narrative">【抽選10名様】11月祭オリジナルグッズのトートバッグ・クリアファイルをプレゼント</p>
              <p class="narrative">オリジナルグッズの詳細は、<a href="/events/general/shop.html#goods" class="text_link" target="_blank">このページ</a>をCHECK！※クリアファイルの絵柄を選ぶことはできません。</p>
              <a class="narrative card-small" href="https://docs.google.com/forms/d/e/1FAIpQLSfVYB1CRxMriaEr-6olVHmw-zbGMMnmDGgskK6DJRsg-bREug/viewform?usp=sf_link" target="_blank">景品応募フォーム</a>
              <p class="narrative">個人情報などは本企画実施のためにのみ利用し、厳重に保管します。</p>
            </div>
          </div>
           
          <kkk-general></kkk-general>
        </div><!--wrap閉じ-->
        <gnav-side></gnav-side>
        <footer-menu></footer-menu>
       
          </div><!--all閉じ-->
          <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
          <script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>');</script><!--JqueryCDNのフォールバック-->
          <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
          <script>window.Vue || document.write('<script src="/js/vue.min.js"><\/script>')</script><!--VueCDNのフォールバック-->
          <script type="text/javascript" src="/script/jquery.inview.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
          <!--<script type="text/javascript" src="./slick/slick.min.js"></script>-->
          <script>
            Vue.component('message-insert',{
              data:function(){
                return{
                  name:'',
                  msg:'',
                  flag:0,
                  items:'',
                }
              },
              computed:{
                nameerror:function(){
                  if(this.name.length>10){
                    return true
                  }else{return false}
                },
                msgerror:function(){
                  if(this.msg.length==0){
                    return 1;
                  }else if(this.msg.length>100){
                    return 2;
                  }else{return 0;}
                },
                anyerror:function(){
                  if(this.nameerror==true){
                    return true;
                  }else if(this.msgerror!==0){
                    return true;
                  }else{
                    return false;
                  }
                }
              },
              methods:{
                submit:function(){
                  var posting=[this.name,this.msg];
                  var self=this;
                  axios
                    .post('submit.php',posting,{ headers: {'X-Requested-With': 'XMLHttpRequest'} })
                    .then(function(res){
                    self.items=res.data;
                  })
                  this.flag=2;
                  this.name='';
                  this.msg='';
                }
              },
              template:'<div class="card-unshown"><div class="r-form">'+
              '<div v-show="flag==0">'+
              '<label class="r-name-input">ペンネーム（任意・10字以内）<input type="text" name="name" v-model="name"></label>'+
              '<label class="r-name-input">メッセージ本文（必須・100字以内）<textarea name="msg" v-model="msg" cols=25 rows=5></textarea></label>'+
              '<p v-show="nameerror" class="red">ペンネームは10文字以内で入力して下さい。</p><p v-show="msgerror==1" class="red">メッセージ本文は必須です。</p><p v-show="msgerror==2" class="red">メッセージ本文は100字以内で入力して下さい。</p>'+
              '<button class="r-submit" @click="flag=1" :disabled="anyerror">確認する</button></div>'+
              '<div v-show="flag==1" style="padding:5px;">'+
              '<h2 class="cardTitle">投稿内容確認</h2>'+
              '<p>投稿後に内容を修正することはできません。</p>'+
              '<button class="r-submit red" @click="flag=0">戻る</button>'+
              '<p>ペンネーム：{{name}}</p><p>メッセージ：{{msg}}</p>'+
              '<button class="r-submit" @click="submit" :disabled="anyerror">送信する</button></div>'+
              '<div v-show="flag==2"><p>{{items}}</p><a class="r-submit" href="../rally.php">完了</a></div>'+
              '</div></div>'
            })
          </script>
          <script type="text/javascript" src="../../../js/common.js"></script>
       
         <!--ここからはパン屑用の構造化-->
         <script type="application/ld+json">
          {
           "@context": "http://schema.org",
           "@type": "BreadcrumbList",
           "itemListElement":
           [
            {
             "@type": "ListItem",
             "position": 1,
             "item":
             {
              "@id": "/",
              "name": "TOP"
              }
            },
            {
             "@type": "ListItem",
            "position": 2,
            "item":
             {
               "@id": "/events/honbu/rally.php",
               "name": "NFクイズラリー"
             }
            },
            {
              "@type": "ListItem",
             "position": 3,
             "item":
              {
                "@id": "/events/honbu/rally/index.html",
                "name": "NFクイズラリー"
              }
             }
           ]
          }
          </script>
    </body>
</html>


