<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>本年度11月祭について｜京都大学11月祭</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" type="text/css" href="../slick/slick.css">
  <link rel="stylesheet" type="text/css" href="../slick/slick-theme.css">
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

  <script src="https://kit.fontawesome.com/21edc3223b.js" crossorigin="anonymous"></script><!--FontAwesome-->
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  <link rel="icon" href="/icon/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="https://nf.la/icon/apple-touch-icon.png" sizes="180x180"> <!-- iPhoneのホーム画面に追加アイコン -->
<meta name="msapplication-TileImage" content="https://nf.la/img/twitter-card.png" />
<meta name="msapplication-TileColor" content="#ffffff"/>
  <meta property="og:url" content="https://nf.la/">
  <meta property="og:title" content="第62回京都大学11月祭" />
  <meta property="og:description" content="第62回京都大学11月祭の情報を掲載。" />
  <meta property="og:image" content="https://nf.la/img/twitter-card.png" />
  <meta name="twitter:site" content="@nfoffice" />
  <meta property="og:site_name" content="第62回京都大学11月祭" />
  <meta property="og:locale" content="ja_JP" />
  <!-- 以下Twitterカード関連 -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="第62回京都大学11月祭" />
  <meta name="twitter:description" content="第62回京都大学11月祭の情報を掲載。" />
  <meta name="twitter:image" content="https://nf.la/img/twitter-card.png" />
        <!--#include virtual="/ssi/gtag.html"--><!--Google analytics tagの読み込み（本番環境のみ）-->
    </head>
    <body>
      <div id="all">
        <header>
          <div id=header-head>
            <a href="/index.html"><h1 id=logo>第62回京都大学11月祭</h1></a>
            <button class="closed groval"><i class="fas fa-bars hnav-icon"></i></button>
            <button class="opened groval"><i class="fas fa-times hnav-icon"></i></button>
          </div>
            
        </header>
        <div id="wrap">
            <div id="mainVisual" class="normalvisual">

            </div>
            <div id="pnkz">
              <ul>
                <li class=pnkz_top><a href="/index.html"><i class="fas fa-home"></i>トップ</a></li>
                <li><a href="/COVID-19.html">新型コロナ</a></li>
                <li><a href="/corona/style.html">本年度11月祭</a></li>
              </ul>
            </div>
            <h1 class="pagetitle">本年度11月祭について</h1>
            <h5 class="right">2020/11/28</h5>
            <p class="narrative">新型コロナウイルス感染症の影響を受けまして、本年度11月祭は2021年3月に延期して開催いたします。また、新型コロナウイルス感染症の拡大状況に鑑み、形態も例年とは変更して行います。</p>
            <p class="narrative">なお、情報はいずれも現段階での暫定的なものであり、新型コロナウイルス感染症の拡大状況などによって変更が生じる可能性があります。</p>
              <h2>開催日程・スケジュールについて</h2>
              <p class="narrative">開催時期は2021年3月26日～28日の3日間とします。</p>
              <a class="card-small narrative" href="/registration/index.html">企画出展について</a>
            <h2>開催形態について</h2>
              <p class="narrative">新型コロナウイルス感染症が終熄していない現状に鑑み、本年度11月祭はオンラインを活用して行います。</p>
              <p class="narrative">新型コロナウイルス感染症の拡大状況にもよりますが、入場制限なども含めた感染症対策を万全に行った上で実行可能な企画については対面で開催したいと考えています。</p>
              <p class="narrative">詳細については決定次第、本Webサイトや11月祭事務局公式Twitterなどで発表していきます。なお、新型コロナウイルス感染症の状況によって開催形態は変動する可能性が大きいため、最新の情報にご注意下さい。</p>
            <h2>開催予定企画一覧</h2>
            <p>※情報はあくまでも暫定的なものであり、今後変更の可能性があります。</p>
            <ul class="boothMenu flex-container">
              <booth-menu v-for="item in plans" :key="item.title" :booth-menu="item"></booth-menu>
            </ul>
            <ul class="boothList">
              <booth-list v-for="item in plans" :key="item.title" :booth-item="item"></booth-list>
            </ul>


        </div><!--wrap閉じ-->
        <gnav-side></gnav-side>
        <footer-menu></footer-menu>
      </div><!--all閉じ-->
      <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>');</script><!--JqueryCDNのフォールバック-->
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
      <script>window.Vue || document.write('<script src="/js/vue.min.js"><\/script>')</script><!--VueCDNのフォールバック-->
      <script type="text/javascript" src="../slick/slick.min.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
        <!--ここからはパン屑用の構造化-->
        <script type="application/ld+json">
          {
           "@context": "http://schema.org",
           "@type": "BreadcrumbList",
           "itemListElement":
           [
            {
             "@type": "ListItem",
             "position": 1,
             "item":
             {
              "@id": "/",
              "name": "TOP"
              }
            },
            {
             "@type": "ListItem",
            "position": 2,
            "item":
             {
               "@id": "/COVID-19.html",
               "name": "新型コロナ"
             }
            },
            {
              "@type": "ListItem",
             "position": 3,
             "item":
              {
                "@id": "/style.html",
                "name": "本年度11月祭"
              }
             }
           ]
          }
          </script>
    </body>
</html>


